In [1]:
import pandas as pd
import numpy as np
from os import getcwd
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import calendar

In [4]:
datas = pd.read_csv("../sales/data-clear/all-data.csv",index_col="transaction_date", parse_dates=True)
datas['year_transaction'] = pd.DatetimeIndex(datas['sell_date']).year
datas['y_m_transaction'] = pd.to_datetime(datas['sell_date']).dt.strftime('%Y-%m')
datas['m_transaction'] = pd.to_datetime(datas['sell_date']).dt.strftime('%m')
data['user_age'] = data['user_age'].astype(int)
data['binning_age'] = pd.cut(x=data['user_age'], bins=[18,20,30,40,50,60,70,80,90,100])
data['month_t'] = pd.to_datetime(data['sell_date'], errors='coerce').dt.month
data.loc[data['month_t'] == 1,'month_transaction'] = 'Janvier'
data.loc[data['month_t'] == 2,'month_transaction'] = 'Fevrier'
data.loc[data['month_t'] == 3,'month_transaction'] = 'Mars'
data.loc[data['month_t'] == 4,'month_transaction'] = 'Avril'
data.loc[data['month_t'] == 5,'month_transaction'] = 'Mai'
data.loc[data['month_t'] == 6,'month_transaction'] = 'Juin'
data.loc[data['month_t'] == 7,'month_transaction'] = 'Juillet'
data.loc[data['month_t'] == 8,'month_transaction'] = 'Aout'
data.loc[data['month_t'] == 9,'month_transaction'] = 'Septembre'
data.loc[data['month_t'] == 10,'month_transaction'] = 'Octobre'
data.loc[data['month_t'] == 11,'month_transaction'] = 'Novembre'
data.loc[data['month_t'] == 12,'month_transaction'] = 'Decembre'
data['order'] = 1

data

<ipython-input-4-17b6744c0f04>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['user_age'] = data['user_age'].astype(int)
<ipython-input-4-17b6744c0f04>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['binning_age'] = pd.cut(x=data['user_age'], bins=[18,20,30,40,50,60,70,80,90,100])
<ipython-input-4-17b6744c0f04>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['month_t'] = pd.to_datetime(data['sell_date'], errors='coerce').dt.month
/usr/local/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/usr/local/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/usr/local/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/usr/local/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/usr/local/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/usr/local/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/usr/local/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/usr/local/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/usr/local/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/usr/local/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/usr/local/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/usr/local/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
<ipython-input-4-17b6744c0f04>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['order'] = 1

,client_id,sex,user_birthday,binning_age,user_age,category_id,id_product,price,sell_date,year_transaction,month_t,month_transaction,order
transaction_date,,,,,,,,,,,,,
2021-03-22,c_4410,f,1967,"(50, 60]",54,0,0_1455,8.99,2021-03-22 14:29:25.189266,2021,3,Mars,1
2021-07-09,c_4389,m,1984,"(30, 40]",37,0,0_1455,8.99,2021-07-09 11:16:18.579726,2021,7,Juillet,1
2021-03-04,c_7049,f,1987,"(30, 40]",34,0,0_1455,8.99,2021-03-04 14:01:38.698752,2021,3,Mars,1
2021-09-05,c_5110,f,1982,"(30, 40]",39,0,0_1455,8.99,2021-09-05 11:48:41.065009,2021,9,Septembre,1
2021-06-14,c_6699,f,1986,"(30, 40]",35,0,0_1455,8.99,2021-06-14 10:49:01.405461,2021,6,Juin,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-11,c_7135,m,1996,"(20, 30]",25,2,2_99,84.99,2021-07-11 20:56:49.820935,2021,7,Juillet,1
2021-11-21,c_5828,f,1998,"(20, 30]",23,2,2_99,84.99,2021-11-21 01:53:46.967570,2021,11,Novembre,1
2021-09-27,c_8260,m,1991,"(20, 30]",30,0,0_833,2.99,2021-09-27 23:22:40.394509,2021,9,Septembre,1
2021-11-09,c_8138,f,1984,"(30, 40]",37,0,0_394,2.14,2021-11-09 09:02:38.299240,2021,11,Novembre,1
2021-12-28,c_8327,m,1972,"(40, 50]",49,0,0_394,2.14,2021-12-28 22:44:11.200205,2021,12,Decembre,1

In [6]:
data = data[['client_id', 'sex','user_birthday','binning_age','user_age','category_id','id_product'
                           ,'price','sell_date','year_transaction','month_t','month_transaction','order'
                          ]];

result = data.reset_index()

result

,transaction_date,client_id,sex,user_birthday,binning_age,user_age,category_id,id_product,price,sell_date,year_transaction,month_t,month_transaction,order
0,2021-03-22,c_4410,f,1967,"(50, 60]",54,0,0_1455,8.99,2021-03-22 14:29:25.189266,2021,3,Mars,1
1,2021-07-09,c_4389,m,1984,"(30, 40]",37,0,0_1455,8.99,2021-07-09 11:16:18.579726,2021,7,Juillet,1
2,2021-03-04,c_7049,f,1987,"(30, 40]",34,0,0_1455,8.99,2021-03-04 14:01:38.698752,2021,3,Mars,1
3,2021-09-05,c_5110,f,1982,"(30, 40]",39,0,0_1455,8.99,2021-09-05 11:48:41.065009,2021,9,Septembre,1
4,2021-06-14,c_6699,f,1986,"(30, 40]",35,0,0_1455,8.99,2021-06-14 10:49:01.405461,2021,6,Juin,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277841,2021-07-11,c_7135,m,1996,"(20, 30]",25,2,2_99,84.99,2021-07-11 20:56:49.820935,2021,7,Juillet,1
277842,2021-11-21,c_5828,f,1998,"(20, 30]",23,2,2_99,84.99,2021-11-21 01:53:46.967570,2021,11,Novembre,1
277843,2021-09-27,c_8260,m,1991,"(20, 30]",30,0,0_833,2.99,2021-09-27 23:22:40.394509,2021,9,Septembre,1
277844,2021-11-09,c_8138,f,1984,"(30, 40]",37,0,0_394,2.14,2021-11-09 09:02:38.299240,2021,11,Novembre,1
277845,2021-12-28,c_8327,m,1972,"(40, 50]",49,0,0_394,2.14,2021-12-28 22:44:11.200205,2021,12,Decembre,1

In [7]:
result.to_csv("../sales/data-clear/reset_data.csv", index = False, header=True)